$estilo:(
    "borde": #daa520 solid 0.3rem,
    "background": #212121,
    "Color": #daa520,
    "Background2": #daa520,
    "borde2": 0.2rem #810707 solid,
    "background3": #333333,
    "FW": bold,
    "color2": #ffffff,
    "color3": #000000,
    "TD": none,
    "borde3": 0.2rem #000000 solid,
    "background4": #810707
);

$FF: 'Raleway', sans-serif;
$FF2: 'Fasthand', cursiva;
